@font-face {
    font-family: sutonnyOMJban;
    /* src: url(fonts\SutonnyOMJ.ttf) format("opentype"); */
    src: local(sutonnyOMJ);
    unicode-range: U+0981-0983, 0985-098C, 098F-0990, 0993-09A8, 09AA-09B0, 09B2, 09B6-09B9, 09BC, 09BE-09C4, 09C7-09C8, 09CB-09CD, 09D7, 09DC-09DD, 09DF-09E3, 09E6-09FA;
}
@font-face {
    font-family: "Ampersand";
    src: local("Times New Roman");
    unicode-range: U+26;
}
/* *{
    font-family: sutonnyOMJban;
} */