
.vmain{
    position: relative;
    top: 00vh;
    height: 100vh;
}
.id_input1 {
    display: none ;
}
@page:first{
    size: a4 landscape;
    margin: 0;
}
/* a::after {
    content: " (" attr(href) ")";
  } */
