 /* #03045e // #0077b6 // #00b4d8 // #90e0ef // #caf0f8
#0a2463 // #3e92cc // #fffaff // #d8315b // #1e1b18
#3c3744 // #090c9b // #3066be // #b4c5e4 // #fbfff1
#70d6ff // #ff70a6 // #ff9770 // #ffd670 // #e9ff70
#ff595e // #ffca3a // #8ac926 // #1982c4 // #6a4c93
#353535 // #3c6e71 // #ffffff // #d9d9d9 // #284b63
#dd6e42 // #e8dab2 // #4f6d7a // #c0d6df // #eaeaea
#f79256 // #fbd1a2 // #7dcfb6 // #00b2ca // #1d4e89
#03045e // #0077b6 // #00b4d8 // #90e0ef // #caf0f8 */

body{
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
}
* {
    margin: 0;
    padding: 0;
    text-indent: 0;
}

h1 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 28pt;
}

.s4 {
    color: black;
    font-family: "Yu Gothic UI Light", sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 7pt;
}

p {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
    margin: 0pt;
}

a {
    color: #00F;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    font-size: 10pt;
}

.s5 {
    color: #00F;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

h3 {
    color: #001F5F;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    font-size: 14pt;
}

.s7 {
    color: #001F5F;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 14pt;
}

.s8 {
    color: #234060;
    font-family: Calibri, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    font-size: 7pt;
}

.s9 {
    color: #234060;
    font-family: Calibri, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    font-size: 7pt;
}

.s11 {
    color: #234060;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 8pt;
}

.s12 {
    color: #234060;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 7pt;
}

.s13 {
    color: #234060;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    font-size: 7pt;
}

.s14 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 12.5pt;
}

.h4 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    font-size: 13pt;
}

.s15 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 13pt;
}

.s16 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 14.5pt;
}

.s17 {
    color: black;
    font-family: "Courier New", monospace;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 14pt;
}

.s18 {
    color: #111;
    font-family: "Courier New", monospace;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 14pt;
}

.s19 {
    color: #111;
    font-family: "Courier New", monospace;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 14pt;
}

.s20 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 7.5pt;
}

.s21 {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
}

.s22 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
}

.s23 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 16pt;
}

.s24 {
    color: black;
    font-family: Gabriola;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 26pt;
}

.s25 {
    color: black;
    font-family: "Courier New", monospace;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 21pt;
}

h2 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20pt;
}

.s26 {
    color: black;
    font-family: "Courier New", monospace;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9.5pt;
}

.s27 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10.5pt;
}

.s28 {
    color: black;
    font-family: "Courier New", monospace;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
}

.s29 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10.5pt;
}

li {
    display: block;
}

#l1 {
    padding-left: 0pt;
}

#l1>li>*:first-child:before {
    content: " ";
    color: black;
    font-family: Symbol, serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 7pt;
}

table {
    vertical-align: top;
    overflow: visible;
    width: 90%;
    position: relative;
    /* box-sizing: border-box; */
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 5%;
    align-items: center;
    justify-content: center;
    border: black 1pt solid;


}
#td34{
    border-color: black black #00000000 #00000000 ;
}
thead {
    background-color: #c2d59b;
}

thead td {
    /* width: 242pt; */
    border: solid 1pt;
    font-weight: 900;
}

/* t */
td {
    border: solid 1pt;
    /* border: #aaa 1pt solid;  
    border-collapse: collapse;
    margin: 0 ;
    padding: 0;
    vertical-align: top; */
    vertical-align: baseline;
    min-width: fit-content ;


    font-size: 12pt;
    /*
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal; */
}
tbody td.discription {
    text-align: left;
    padding-left: 10pt;
    width: 200pt;
}
tbody td.total {
    text-align: center;
    width: 70pt;
}
tbody td.total {
    text-align: center;
    width: 100pt;
}
tbody td {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ,'Courier New', Courier, monospace;
    font-size: 12pt;
    padding: 0;
    margin: 0;
}
tfoot td{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.15;
    font-size: 9pt;
    font-weight: 900;
    
}
.double-underline{
    text-decoration: underline double;
}
.double-underline::after{
    content: "tk";
}
/* td.discription {
    width: 200PX;
} */

footer div {
    width: 80%;
    /* background-color: #4a7000; */
    display: flex;
    justify-content: stretch;
    align-items: justify;
    margin: 0 10%;
    top: 10vh;
    align-self: flex-end;
}

footer div p {
    display: inline-block;
    flex-grow: 1;

}




/* @page{
          size : a4 landscape ;
          margin: 0.2in;

        } 
        @page: first {
            size: a4 landscape;
            margin: none !important;
          }
      
          @oage: left {
            margin: 6in;
          }
      
          @oage: right {
            margin: 6in;
          } */


/* @page{
        size : a4 landscape ;
        margin: 0.2in;

      } */
@page: first {
    size: a4 landscape;

}

@oage: left {
    margin: 6in;
}

@oage: right {
    margin: 6in;  
}

#v {
    /* display: none ;  */
    position: relative;
    top: -100vh;
    height: 0vh;
    display: flex !important;
}
#qrcode img {
    position: absolute !important;
    height: 75px;
}
#input{
    height: calc(92vh - 10px);;
    width: calc(92vw - 10px);
    position: absolute;
    background-color: #e5b534;
    opacity: 1;
    background-color: #e5b534;
    opacity: 1;
    background-image:  linear-gradient(30deg, #a48124 12%, transparent 12.5%, transparent 87%, #a48124 87.5%, #a48124), linear-gradient(150deg, #a48124 12%, transparent 12.5%, transparent 87%, #a48124 87.5%, #a48124), linear-gradient(30deg, #a48124 12%, transparent 12.5%, transparent 87%, #a48124 87.5%, #a48124), linear-gradient(150deg, #a48124 12%, transparent 12.5%, transparent 87%, #a48124 87.5%, #a48124), linear-gradient(60deg, #a4812477 25%, transparent 25.5%, transparent 75%, #a4812477 75%, #a4812477), linear-gradient(60deg, #a4812477 25%, transparent 25.5%, transparent 75%, #a4812477 75%, #a4812477);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    padding: 2vh 2vw;
    margin: 2vh 2vw;
    border: #2c6997 5pt solid ;
    border-radius: 5vh;
    box-shadow: 3px 3px 10px #8a6e20;
    overflow: auto;
    color: #2c6997 ;
    font-weight: 900;
    font-size: 20pt;
    /* display: flex; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* justify-content: center; */
    box-sizing: border-box;
}

input , input[type="text"],input[type="password"],input[type="radio"] {
    /* display: inline-block; */
    flex-grow: 1;
    color: #e5b534 ;
    height: 23pt;
    border-radius: 10px;
    background-color: #2c6997;
    padding: 0 10px;
    font-size: 20pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: #001F5F 2px solid;
}
#input input {
    align-self: right;
}
input:focus-visible{
    outline: none !important;
    border: #f1f1f1 2px solid;
    background-color: #f1f1f1aa;
    width: auto;
    color: #2c6997;
    /* font-size: 20pt; */
    
    
}
input>div{
    overflow-x: scroll;
    overflow-y: hidden ;
    display: inline-flex;
    width: 100%;
    margin: 0;
    padding: 0;
}
input > div > input[type="text"]{
    align-items:flex-start;
    flex-grow: 2;
    
}
input[type=text] {
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 90%;
  }

input::placeholder{
    color: #e5b53480;

}
#input h2 {
    color: #e5b534;
    /* position: relative; */
    width: min-content;
    font-size: 20pt;
    background-color: #2c699788;
    /* margin: 0 auto; */
    justify-content: center;
    border: 1px solid #524112;
    border-radius: 20px 20px  0 0 ;
    padding: 0 calc(50% - 32px );

}

/* width */
 #input::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  #input::-webkit-scrollbar-track {
    background: #00aeff;
    border-radius: 20px;
    width: 40px;
    height: 90%;
  }
  
  /* Handle */
  #input::-webkit-scrollbar-thumb {
    background: #ffa2a2;
    border-radius: 20px;
    width: 40px;
  }
  
  /* Handle on hover */
  #input::-webkit-scrollbar-thumb:hover {
    background: #555;
  }